<div class="card mb-3">

    <div class="card-body">
        <h5 class="card-title">
            <span>Participantes Registrados:</span>
            <span class="badge badge-pill badge-danger" title="Borrar todos los registros" (click)="borrarTodo()"> <i class="fas fa-trash-alt"></i></span>
        </h5>
        <hr>
        <ul class="list-group lista">
            <li class="list-group-item" *ngFor="let registro of listaUsuarios; let i=index" [ngClass]="{active: i==0}">
                <span>{{registro.nombre}} {{registro.apellido}} / {{registro.cedula}}</span>
                <span class="badge badge-primary badge-pill" *ngIf="i==0" (click)="editarRegistro(registro, i)"><i class="fas fa-edit"></i></span>
            </li>
        </ul>
    </div>
</div>
