<div class="card mb-3">

    <div class="card-body">
        <h5 class="card-title">
            <span>Participantes Registrados:</span>
            <span class="badge badge-pill badge-danger" title="Borrar todos los registros"> <i class="fas fa-trash-alt"></i></span>
        </h5>
        <hr>
        <ul class="list-group lista">
            <li class="list-group-item active">
                <span>Dapibus ac facilisis indf</span>
                <span class="badge badge-primary badge-pill"><i class="fas fa-edit"></i></span>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>